.opcoes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-right: 1em;
  gap: 2em;
  cursor: pointer;
  min-width: 120px;
  padding-right: 7em;
}

.opcao {
  font-size: 18px;
}
